<mat-toolbar color="primary">
<ul>
  <li>
    <a mat-button href="" class="home" [routerLink]="['/']">Home</a>
  </li>
  <li>
    <a mat-button href="" class="right" [routerLink]="['/auth/login']">Login</a>
  </li>
  <li>
    <a mat-button href="" class="right" [routerLink]="['/']">Signup</a>
  </li>
  <li>
    <a mat-button href="" class="right" (click)="onLogout()" [routerLink]="['/']">Logout</a>
  </li>
  <li>
    <a mat-button href="" class="right" [routerLink]="['/profile']">Profile</a>
  </li>
</ul>
</mat-toolbar>
